/*This contains, genras style from index
    *container
    *colors palette
    *reset for all elements
*/

/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--font-color-h);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

ul, li{
    list-style: none;
}

