.Services{
    margin-top: 60px;
    background-blend-mode: multiply;
    background: #eef1f6 url("../images/background-section/shape-1.png") no-repeat;
    background-position: 92% 100%;
    background-size: auto;
    padding: 100px 0;

    .container{
        .Services-container{
            text-align: center;
            .card-container{
                .card{
                    padding: 30px 30px;
                    min-height: 280px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 15px;
                    background-color: white;
                    transition: all 0.35s;
                    .card-icon{
                        position: relative;
                        display: flex;
                        margin: 0 auto;
                        width: 70px;
                        height: 70px;
                        border-radius: 20px;
                        justify-content: center;
                        align-items: center;

                        span{
                            position: absolute;
                            top: -5px;
                            right: -5px;
                            height: 25px;
                            width: 25px;
                            line-height: 25px;
                            border-radius: 50%;
                            color: white;
                        }

                        &::before{
                            content: "";
                            position: absolute;
                            top: -8px;
                            right: -8px;
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            background-color: #eef1f6;
                        }
                    }

                    &:nth-child(1){
                        .card-icon{
                            background: linear-gradient(135deg, #84bcfa 0%, #2b70fa 100%);
                        }
                        span{
                            background-color: #2b70fa;
                        }
                    }
                    
                    &:nth-child(2){
                        .card-icon{
                            background: linear-gradient(135deg, #f7b8af 0%, #f8452d 100%);
                        }
                        span{
                            background-color: #f8452d;
                        }
                    }

                    &:nth-child(3){
                        .card-icon{
                            background: linear-gradient(135deg, #a0eac2 0%, #31c369 100%);
                        }
                        span{
                            background-color: #31c369;
                        }
                    }
                    
                    &:nth-child(4){
                        .card-icon{
                            background: linear-gradient(135deg, #d8aaff 0%, #9b2cfa 100%);
                        }
                        span{
                            background-color: #9b2cfa;
                        }
                    }

                    &:hover{
                        box-shadow: 11px 10px 38px 0 rgb(46 63 99 / 15%);
                    }
                }
                
            }
        }
    }
}