/*
    this contains text style
*/

.title-container{
    display: flex;
    flex-direction: column;
    height: max-content;
    padding-top: 150px;
    @media (max-width: 992px) {
        .title-container{
            height: none;
            padding-top: 0;
        }        
    }
}


h1, h2, h3, h4, h5, h6{
    color: var(--font-color-h);
    font-weight: 900;
    text-transform: capitalize;
}

h1{
    font-size: 60px;
    line-height: 70px;
    margin-top: 10px;
    margin-bottom: 22px;
    @media (max-width:1200px) {
        font-size: 48px;
        line-height: 58px;
    }
    @media (max-width: 767px) {
        font-size: 36px;
        line-height: 46px;
    }
    @media (max-width: 576px) {
        font-size: 28px;
        line-height: 38px;
    }    
}

h2{
    font-size: 44px;
    line-height: 54px;

    @media (max-width:1200px) {
        font-size: 36px;
        line-height: 46px;
    }
    @media (max-width: 767px) {
        font-size: 26px;
        line-height: 36px;
    }    
}

h4{
    font-size: 20px;
    
    @media (max-width:1200px) {
        font-size: 18px;
    }
}

span.up-header{
    color: #2b70fa;
    font-size: 14px;
    font-weight: 500;   
}

p.description-p{
    font-size: 18px;
    line-height: 28px;
    color: var(--gray);
}

.section-title-container{
    display: flex;
    flex-direction: column;
    max-width: 560px;
    h2{
        margin-bottom: 20px;
    }
    margin: 0 auto;
    margin-bottom: 45px;
}

.section-title-container-aside{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2{
        @media (max-width: 992px) {
            max-width: 340px;
        }
    }
}